// Colors. Color names from: http://chir.ag/projects/name-that-color
$alto: #ddd;
$curious-blue: #1698ea;
$shark: #212529;
$silver-chalice: #aaa;
$white: #fff;

// Fonts.
$font-face: 'Roboto', sans-serif;
$font-weight-light: 300;
$font-weight-normal: 400;
$base-line-height: 1.42857;

// Breakpoints and sizing.
$max-width: 800px;
$screen-xs-max: 767px;
$screen-md-min: 768px;
$screen-md-max: 1024px;
$screen-lg-min: 1230px;
$screen-lg-max: 1366px;
$mobile-padding: 15px;

// Theme variables.

// Specific shared styles.

// z-index values
